h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: aqua;
}

ul{
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
}

body{
    background-color: seagreen;
}